@model IEnumerable<JobPortal.DataAccessLayer.ViewModel.CatagoryView.CatagoryViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class= "container-fluid">
        <div class = "row shadow p-1 mb-2 action-clr rounded">
              <h1 class= " w-50 text-center text-white p-2 m-auto">Build Your Career</h1>
        </div>
        
         <div class = "row">
             <div class = "col-6">
                 <h1 class = "mt-5 text-clr" style="font-family:sans-serif;">YOUR JOB</h1>
                 <h3 class = "text-secondary">Our Responsibility</h3>
                 <p class = "text-secondary" >"Success is not just about making money. It's about making a difference."</p>

       </div>
     <div class = col-6>
         <img class = "mt-2 mb-2" style = "height : 400px;width=500px;"src = "~/images/Web-Developmet-4.png"/>
     </div>
    </div>
    </div>
    
    
        
      <div class = "container-fluid text-center bg-light py-3 mt-2">
                 created by Tasdid alam & Mafuj Ahmed Bishal<br />
                 &copy; all right reserved
     </div>

    
   
   