@model JobPortal.DataAccessLayer.ViewModel.JobView.JobViewModel

@{
    ViewData["Title"] = "AddJob";
    Layout = "~/Views/Shared/_LayoutRecruiter.cshtml";
}
@{
    if(ViewBag.PostDone)
    {
         <div class="alert alert-success w-50 m-auto text-center mb-3" role="alert">
              Post Job Successfully!
         </div>
    }
}
<div class="container-fluid card-clr mt-4 shadow-sm p-3 mb-5 bg-white rounded">
              <h4 class = "action-clr text-white text-center py-2">Set Job Details</h4>
              <form asp-action="AddJob" method = "post" >
                 <div class = "row">
                     <div class = "col-4">
                         <div class="form-group mb-2">
                                 <label asp-for="JobTitle" class="control-label"></label>
                                  <input asp-for="JobTitle" class="form-control"  />
                                  <span asp-validation-for="JobTitle" class="text-danger"></span>
                          </div>
                     </div>

                      <div class = "col-4">
                                <div class="form-group mb-2">
                                 <label asp-for="NumberOfVacency" class="control-label"></label>
                                  <input asp-for="NumberOfVacency" class="form-control" >
                                 <span asp-validation-for="NumberOfVacency" class="text-danger"></span>
                                </div>
                     </div>
                      <div class = "col-4">
                                <div class="form-group mb-2">
                                <label asp-for="CompanyName" class="control-label"></label>
                               <input asp-for="CompanyName" class="form-control" >
                               <span asp-validation-for="CompanyName" class="text-danger"></span>
                              </div>
                      </div>
                   </div>
                  
                    <div class = "row">
                     <div class = "col-4">
                         <div class="form-group mb-2">
                             <label asp-for="HREmail" class="control-label"></label>
                              <input asp-for="HREmail" class="form-control"/>
                             <span asp-validation-for="HREmail" class="text-danger"></span>
                        </div>
                     </div>

                        <div class = "col-4">
                          <div class="form-group mb-2">
                              <label asp-for="JobResponsibilities" class="control-label"></label>
                             <input asp-for="JobResponsibilities" class="form-control" />
                             <span asp-validation-for="JobResponsibilities" class="text-danger"></span>
                          </div>
                        </div>
                      <div class = "col-4">

                       <div class="form-group mb-2">
                         <label asp-for="EmployeeStatus" class="control-label"></label>
                            <input asp-for="EmployeeStatus" class="form-control" />
                         <span asp-validation-for="EmployeeStatus" class="text-danger"></span>
                          </div>
                        </div>
                     </div>
            
          
              <div class = "row">
                     <div class = "col-4">
                         <div class="form-group mb-2">
                        <label asp-for="EducationalRequirements" class="control-label"></label>
                       <input asp-for="EducationalRequirements" class="form-control" />
                      <span asp-validation-for="EducationalRequirements" class="text-danger"></span>
                         </div>
                      </div>

                     <div class = "col-4">
                           <div class="form-group mb-2">
                              <label asp-for="ExperienceRequirement" class="control-label"></label>
                             <input asp-for="ExperienceRequirement" class="form-control" />
                             <span asp-validation-for="ExperienceRequirement" class="text-danger"></span>
                         </div>
                       </div>
                       <div class = "col-4">
                                <div class="form-group mb-2">
                              <label asp-for="AdditionalRequirements" class="control-label"></label>
                                  <input asp-for="AdditionalRequirements" class="form-control" />
                               <span asp-validation-for="AdditionalRequirements" class="text-danger"></span>
                              </div>
                    </div>
              </div>
            
               <div class = "row">
                     <div class = "col-4">
                         
                             <div class="form-group mb-2">
                                <label asp-for="Salary" class="control-label"></label>
                                 <input asp-for="Salary" class="form-control" />
                               <span asp-validation-for="Salary" class="text-danger"></span>
                              </div>
                      </div>

                        <div class = "col-4">
                            <div class="form-group mb-2">
                               <label asp-for="OthersBenefit" class="control-label"></label>
                                 <input asp-for="OthersBenefit" class="form-control" />
                              <span asp-validation-for="OthersBenefit" class="text-danger"></span>
                          </div>
                        </div>
                        <div class = "col-4">
                                
                              <div class="form-group mb-2">
                              <label  class="control-label">Catagory</label>
                              <select asp-for = "CatagoryId" asp-items="ViewBag.Catagories" class = "form-control"></select>
                             </div>
                        </div>
              </div>

           <div class = "row">
                     <div class = "col-4">
                          <div class="form-group mb-2">
                             <label asp-for="LastDateOfApplication" class="control-label"></label>
                          <input type = "date"asp-for="LastDateOfApplication" class="form-control" />
                          <span asp-validation-for="LastDateOfApplication" class="text-danger"></span>
                         </div>
                      </div>
                       <div class = "col-4">
                          <div class="form-group mb-2">
                             <label asp-for="JobLocation" class="control-label"></label>
                          <input type = "text"asp-for="JobLocation" class="form-control" />
                          <span asp-validation-for="JobLocation" class="text-danger"></span>
                         </div>
                      </div>
           </div>
           
            <div class="form-group mb-2 text-center mt-3">
                <input class = "btn btn-success"type = "submit" value = "create" />
            </div>
        </form>
       
       
    
</div>
         
      
    






