<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JobPortal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/JobPortal.styles.css" asp-append-version="true" />
</head>
<body class ="bg-clr">
    <div class = "container-fluid">
          <header>
       <nav class="navbar navbar-expand-lg shadow-sm p-2 mb-2 bg-white rounded">
       <a class="navbar-brand text-clr m-2 border border-dark px-2" href="#">JOB HUNTER</a>
 
 
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav m-2">
         <li class="nav-item ">
        <a class="nav-link text-dark" asp-controller = "Job" asp-action = "GetAllJob">JOBS</a>
        </li>
         <li class="nav-item ">
        <a class="nav-link text-dark" asp-controller = "Seeker" asp-action = "SeekerProfile">MY PROFILE</a>
        </li>
         <li class="nav-item ">
        <a class="nav-link text-dark" asp-controller = "Seeker" asp-action = "GetAllApplication">MY APPLICATION</a>
        </li>
       
    </ul>
  </div>
   <div>
        <i class="fa-solid fa-lock"></i>
       <a asp-controller = "Account" asp-action = "Logout" class = "text-decoration-none text-black m-5">Logout</a>
   </div>
      
</nav>
    </header>
    </div>
  
 
       
      
    
   
    
   
 <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
  
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
   
</body>
</html>


