 <div class = "col-7 border shadow p-1 mb-2 rounded ">
            <div class="text-secondary text-center">Profile</div>
            <hr />
             <div class="text-secondary text-center mb-2">Main</div>
            <ul>
                 <li class = "list-group mb-2">
                    <a class = "text-decoration-none text-black" href="#">view job</a>
                </li>
                <li class = "list-group mb-2">
                    <a class = "text-decoration-none text-black" asp-controller="Recruiter" asp-action="Index">my profile</a>
                </li>
                <li class = "list-group mb-2">
                    <a class = "text-decoration-none text-black"asp-controller="Job" asp-action="AddJob">add job</a>
                </li>
                <li class = "list-group mb-2">
                    <a href = "recruiter/managejob" class = "text-decoration-none text-black" href="#">manage job</a>
                </li>
            </ul>
             <hr />
             <div class="text-secondary text-center mb-2">Resource</div>
            <ul>
                 <li class = "list-group mb-2">
                    <a class = "text-decoration-none text-black" href="#">job preperation</a>
                </li>
                <li class = "list-group mb-2">
                    <a class = "text-decoration-none text-black" href="#">Dummy section</a>
                </li>
                <li class = "list-group mb-2">
                    <a class = "text-decoration-none text-black" href="#">Dummy section</a>
                </li>
                <li class = "list-group mb-2">
                    <a class = "text-decoration-none text-black" href="#">Dummy section</a>
                </li>
            </ul>
            
        </div>
